# FVM
.fvm/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
*.ipr
*.iws
.idea/

# Generated
*.g.dart
*.freezed.dart
lib/injection.config.dart

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/
